.container {
    margin-top: 4vh;
    position: relative;
    width: min(50vw, 900px);
    padding: 1.5rem;
    background: rgba(76, 29, 84, 0.5);
    border-radius: 20px;
    aspect-ratio: 4 / 3;
    text-align: center;
    box-sizing: border-box;
    color: rgba(254, 226, 255, 0.8);
    text-shadow: 0px 0px 10px rgba(231, 97, 255, 0.8);
}

.title {
    font-size: clamp(1.6rem, 5vw, 2.5rem);
}

.text-small {
    font-size: clamp(0.95rem, 2.5vw, 1.1rem);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    img {
        width: 13rem;
        padding: 0.5rem;
    }
    
    #temp-icon {
        font-size: clamp(0.5rem, 0.4vw, 0.5rem);
    }
}
.redirect {
    width: 15rem;
    padding: 0.5rem;
    background: rgba(76, 29, 84, 0.8);
    border-radius: 10px;
    border-color: rgb(153, 78, 168);
    margin: 0.5rem;
    color: rgba(254, 226, 255, 0.8);
    text-shadow: 0px 0px 10px rgba(231, 97, 255, 0.8);
    font-size: clamp(1rem, 1.6vw, 1.5rem);
}

.redirect:hover {
    background: rgb(107, 41, 118);
    scale: 1.05;
    text-decoration: underline;

    cursor:pointer;

    animation: hover 0.5s ease-in-out alternate infinite;
    transition: all 0.5s ease;
}

.buttons button:hover {
    background: rgb(107, 41, 118);
    scale: 1.05;
    text-decoration: underline;

    cursor:pointer;

    animation: hover 0.5s ease-in-out alternate infinite;
    transition: all 0.5s ease;
}

@keyframes hover {
    0% {
        rotate: 2deg;
    }
    100% {
        rotate: -2deg;
    }
}

@media screen and (max-width: 700px) {
    .container {
        width: 90vw;
        aspect-ratio: auto;
        border-radius: 15px;
    }
    .buttons {
        margin-top: 3rem;
        img {
            width: 5rem;
        }
        .redirect {
            width: 8rem;
            font-size: clamp(1.2rem, 3.5vw, 2.5rem);
        }
    }
}