.gallery-container {
    column-count: 3;
    column-gap: 20px;
}

.photo-gallery {
    overflow: hidden;
    border-radius: 10px;
    padding: 0px;
    margin-bottom: 20px;
    border: none;
    background: none;
}

.photo {
    width: 100%;
    height: auto;
}

.container-2 {
    margin-top: 4vh;
    position: relative;
    padding: 1.5rem;
    background: rgba(76, 29, 84, 0.5);
    border-radius: 20px;
    aspect-ratio: 4 / 3;
    text-align: center;
    box-sizing: border-box;
    color: rgba(254, 226, 255, 0.8);
    text-shadow: 0px 0px 10px rgba(231, 97, 255, 0.8);
    width: 80vw;
    aspect-ratio: auto;
    border-radius: 15px;
}

@media screen and (max-width: 700px) {
    .container-2 {
        width: 100vw;
        aspect-ratio: auto;
        border-radius: 15px;
    }
    .gallery-container {
        column-count: 1;
    }
}

@media screen and (max-width: 1600px) and (min-width: 700px) {
    .container-2 {
        width: 90vw;
        aspect-ratio: auto;
        border-radius: 15px;
    }
    .gallery-container {
        column-count: 2;
    }
}

@media screen and (min-width: 2000px) {
    .container-2 {
        width: 90vw;
        aspect-ratio: auto;
        border-radius: 15px;
    }
    .gallery-container {
        column-count: 4;
    }
}