.drop {
  position: absolute;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.3);
  animation: fall 10s linear forwards;
  font-size: 4vw;
}

@keyframes fall {
  from {
    transform: translateY(-50vh);
  }
  to {
    transform: translateY(300vh);
  }
}

@media screen and (max-width: 700px) {
    .drop {
        font-size: 8vw;
    }
}