.drop {
  position: absolute;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.3);
  top: -10vw;
  animation: fall 10s ease-in;
  font-size: 4vw;
}

@keyframes fall {
  to {top: 350%}
}

@media screen and (max-width: 700px) {
    .drop {
        font-size: 8vw;
    }
}